/* Print Stylesheet */

@media print {

    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.25em;
    }

    svg {
        display: none;
    }

    /* printer anchor links */
    a[href]::after {
        content: " " attr(href); 
    }

    /* limits the width of paragraphs on the page. */
    .face p {
        width: 5in;
    }

    @page {
        /* reset page margins */
        margin: .5in;
    }

}