@import url("author.css");

/* layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: black;
}

/* scene */
.scene {
    width: 300px;
    height: 400px;
    /* space between card-scenes */
    margin: 16px;

    /* set perspective   */
    perspective: 600px;
}

/* card */
.card {
    width: 100%;
    height: 100%;
    position: relative;

    cursor: pointer;
    transition: transform 1s;

    /* preserve child 3d   */
    transform-style: preserve-3d;
}

/* face */
.face {
    position: absolute;
    height: 100%;
    width: 100%;

    /* hide back face   */
    backface-visibility: hidden;
}

.front {
    background: #0E3B3D;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.back {
    background: #0E3B3D;
    /* flip it default   */
    transform: rotateY(180deg);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-family: 'Author-Bold';
    font-size: 2.5em;
    color: #EDD064;
    text-align: center;
    padding: 0 0.5em 0.5em 0.5em;
}

p{
    font-family: 'Author-Regular';
    font-size: 1.25em;
    color: #EDD064;
    padding: 1em;
}

span{
    font-family: 'Author-Medium';
    font-size: 1.125em;
    color: #EDD064;
    text-align: center;
}

/* flip card
  * toggle with JS
  */
.flipped {
    transform: rotateY(180deg);
}

/* Media Query for Mobile */
@media only screen and (max-width: 30em) {

    body {
        display: flex;
        flex-direction: column;
    }

    /* scene */
    .scene {
        width: 300px;
        height: 400px;
        /* space between card-scenes */
        margin: 16px;
    
        /* set perspective   */
        perspective: 600px;
    }
    
    /* card */
    .card {
        width: 100%;
        height: 100%;
        position: relative;
    
        cursor: pointer;
        transition: transform 1s;
    
        /* preserve child 3d   */
        transform-style: preserve-3d;
    }

}